karaoke/*
karaoke_raw/*
pretrained_models/*




# Ignore files in the conda environment folder
**/karaoke-env

# Ignore downloaded pretrained models
pretrained_models

# Ignore output files
**/output

# Ignore VS Code config files
**/.vscode

# Ignore python bytecode
**/*.pyc

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
